ul {
    list-style-type: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:20px;
}

#gameBoardUl button {
    width:150px;
    height:150px;
    border-radius: 50%;
}

#gameBoardUl button:hover {
    scale:1.2;
}

#resetButton {
    width:100%;
    height:50px;
    border-radius: 15px;
}

#resetButton:hover {
    scale:0.9;
}